.content {
  max-width: 1440px;
  min-width: 720px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .graphContent {
    width: 320px;
    float: left;
    .graph {
      margin: 0 auto;
      width: 270px;
      height: 260px;
    }
  }
}