@import "~antd/lib/style/themes/default.less";
.container {
  width: 700px;
  .myRangking {
    margin-bottom: 10px;
    margin-left: 10px;
    color: #323232;
  }
  .myRangking>span {
    margin-right: 54px;
  }
}