@import  '../utils/var.less';
:global {
  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .am-wingblank.am-wingblank-lg {
    margin-left: 24/75rem !important;
    margin-right: 24/75rem !important;
    border-radius: @radius;
    background: #fff;
  }
  .am-list-body{
    background-color: transparent !important;
  }
  .am-list-item .am-list-line .am-list-content {
    font-size: 16px !important;
  }
}
