:global {
  .customer-today {
    background: #ffffff;
    border: solid 1px #59c3c3 !important;
  }
  .ant-calendar-date {
    width: 40px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    border-radius: 4px;
  }
  .ant-calendar-today .ant-calendar-date {
    border: solid 1px #59c3c3 !important;
    color: #59c3c3;
  }
  .ant-calendar-selected-day .ant-calendar-date {
    background: #e5f5f3;
  }
  .ant-calendar-selected-date .ant-calendar-date,
  .ant-calendar-selected-start-date .ant-calendar-date,
  .ant-calendar-selected-end-date .ant-calendar-date {
    background: #59c3c3;
    color: #ffffff;
  }
  .ant-calendar-date:active {
    background: #59c3c3;
  }
  .ant-calendar-date:hover {
    background: #e5f5f3;
  }
  .ant-calendar-selected-date .ant-calendar-date:hover,
  .ant-calendar-selected-start-date .ant-calendar-date:hover,
  .ant-calendar-selected-end-date .ant-calendar-date:hover {
    background: #e5f5f3;
  }
  .ant-calendar-header a:hover {
    color: #59c3c3;
  }
}